{% extends "base+nav.html.twig" %}
{# 
    Ce template affiche les actes en lien avec l'utilisateur (brouillons apr ex)
    et l'historique des 10 dernières actions de l'utilisateur.

#}
{% block body %}
<div class="container-fluid">
    <h2 class="text-center pt-3 pb-3">Tableau de bord</h2>
    <div class="row mt-5">
      <div class="col-6 ">
          <div class="card border-dark w-100">
              <div class="card-body ">
                <h3 class="card-title " >Brouillons</h3>
              
                <table class="table table-bordered mt-4 text-center" id="brouillon">
                  <thead>
                    <tr>
                      <th scope="col">Numéro</th>
                      <th scope="col">Nature</th>
                      <th scope="col">Matière</th>
                      <th scope="col">Objet de l'acte</th>
                      <th scope="col">Dernière modification</th>
                      <th scope="col">Action</th>
                    </tr>
                  </thead>
                  <tbody>
                 
                    {% for brouillon in brouillons %}
                    <tr>
                      <th scope="row" class="text-info">{{brouillon.acte.numero}}</th>
                      <td>{{brouillon.acte.getFkNature()}}</td>
                      <td>{{brouillon.acte.getFkMatiere()}}</td>
                      <td>{{brouillon.acte.objet}}</td>
                      <td>{{brouillon.date|date("d/m/Y") }} </td>
                      <td><a  class="btn btn-primary"  href="{{path('gestionnaire_modification',{'id':brouillon.acte.getId()})}}">Reprendre</a></td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              
              </div>
          </div>
          
      </div>
      <div class="col-6">

        {# Tableau actes en attente de validation visible si on est connecté en tant que Agent #}

        {% if app.user %}
          {% if (is_granted('ROLE_AGENT') or is_granted('ROLE_TRANSMETTEUR')) %}
        <div class="card border-dark ">
          <div class="card-body ">
            <h3 class="card-title ">Actes en attente de validation</h3>
            <table class="table table-bordered mt-4 text-center " id="attente">
              <thead>
                <tr>
                  <th scope="col">Numéro</th>
                  <th scope="col">Nature</th>
                  <th scope="col">Matière</th>
                  <th scope="col">Objet de l'acte</th>
                  <th scope="col">Dernière modification</th>
                  <th scope="col">Etat</th>
                </tr>
              </thead>
              <tbody>
                {% for attenteVal in attenteVals %}
                <tr>
                  <th scope="row" class="text-info">{{attenteVal.acte.numero}}</th>
                  <td>{{attenteVal.acte.getFkNature()}}</td>
                  <td>{{attenteVal.acte.getFkMatiere()}}</td>
                  <td>{{attenteVal.acte.objet}}</td>
                  <td>{{attenteVal.date|date("d/m/Y") }} </td>
                  <td><img src="/img/acte/sablier.png"/></td>
                </tr>
                {% endfor %}
                
              </tbody>
            </table>

          </div>
        </div>
          {% endif %}
        
        {# Tableau actes en attente de validation visible si on est connecté en tant que Valideur #}
         {% if is_granted('ROLE_VALIDEUR' )%}
        <div class="card border-dark ">
          <div class="card-body ">
            <h3 class="card-title ">Actes en attente de validation</h3>
            <table class="table table-bordered mt-4 text-center" id="attentevalideur">
              <thead>
                <tr>
                  <th scope="col">Numéro</th>
                  <th scope="col">Nature</th>
                  <th scope="col">Matière</th>
                  <th scope="col">Objet de l'acte</th>
                   <th scope="col">Dernière modification</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
                {% for attVal in attVals %}
                <tr>
                  <th scope="row" class="text-info">{{attVal.acte.numero}}</th>
                  <td>{{attVal.acte.getFkNature()}}</td>
                  <td>{{attVal.acte.getFkMatiere()}}</td>
                  <td>{{attVal.acte.objet}}</td>
                   <td>{{attVal.date|date("d/m/Y") }} </td>
                  <td>
                      <a  href="{{path('gestionnaire_validation',{'id':attVal.acte.getId()})}}" ><img src="/img/acte/valider.png" /></a>
                      &nbsp; &nbsp;
                      <a  href="{{path('gestionnaire_refus',{'id':attVal.acte.getId()})}}" ><img src="/img/acte/croix.png"/></a>
                   
                  </td>
                </tr>
                {% endfor %}
                
              </tbody>
            </table>
          </div>
        </div>
      {% endif %}
      {% endif %}
      </div>
    
    </div> 
      
    <div class="row mt-5">
      <div class="col-6 ">
          <div class="card border-dark ">
              <div class="card-body ">
                <h3 class="card-title " >Actes visés</h3>
                <table class="table table-bordered mt-4 text-center" id="valide">
                  <thead>
                    <tr>
                      <th scope="col">Numéro</th>
                      <th scope="col">Nature</th>
                      <th scope="col">Matière</th>
                      <th scope="col">Objet de l'acte</th>
                      <th scope="col">Dernière modification</th>
                      <th scope="col">Etat</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for vise in vises %}
                    <tr>
                      <th scope="row" class="text-info">{{vise.acte.numero}}</th>
                      <td>{{vise.acte.getFkNature()}}</td>
                      <td>{{vise.acte.getFkMatiere()}}</td>
                      <td>{{vise.acte.objet}}</td>
                      <td>{{vise.date|date("d/m/Y") }} </td>
                      {% if vise.etat == 'Refusé' %}
                          <td><img src="/img/acte/croix.png"/></td>
                      {% else %}
                          <td><img src="/img/acte/valider.png"/></td>
                      {% endif %}

                    </tr>
                    {% endfor %}
                    
                  </tbody>
                </table>
              <p><img src="/img/acte/croix.png"/> : refusé &nbsp; &nbsp;<img src="/img/acte/valider.png"/> : validé</p>
              </div>
          </div>

      </div>
      <div class="col-6">
        <div class="card border-dark">
          <div class="card-body ">
            <h3 class="card-title " >Actes à archiver </h3>
        
            <table class="table table-bordered mt-4 text-center" id="archive">
              <thead>
                <tr>
                  <th scope="col">Numéro</th>
                  <th scope="col">Nature</th>
                  <th scope="col">Matière</th>
                  <th scope="col">Objet de l'acte</th>
                  <th scope="col">Etat</th>
                  <th scope="col">Dernière modification</th>
                  <th scope="col">Actions</th>
                  
                </tr>
              </thead>
              <tbody>
               {% for BrouillonAachive in BrouillonAachives %}
                <tr>
                  <th scope="row" class="text-info">{{BrouillonAachive.acte.numero}}</th>
                  <td>{{BrouillonAachive.acte.getFkNature()}}</td>
                  <td>{{BrouillonAachive.acte.getFkMatiere()}}</td>
                  <td>{{BrouillonAachive.acte.objet}}</td>
                  <td>{{BrouillonAachive.etat}}</td>
                  <td>{{BrouillonAachive.date|date("d/m/Y") }} </td>
                  <td>
                     <a  href="{{path('gestionnaire_archive',{'id':  BrouillonAachive.acte.getId()})}}" ><img src="/img/acte/archive.png"/></a>
                  </td>
                 
                </tr>
               {% endfor %}

               {% for ValidesAachive in ValidesAachives %}
                <tr>
                  <th scope="row" class="text-info">{{ValidesAachive.acte.numero}}</th>
                  <td>{{ValidesAachive.acte.getFkNature()}}</td>
                  <td>{{ValidesAachive.acte.getFkMatiere()}}</td>
                  <td>{{ValidesAachive.acte.objet}}</td>
                  <td>{{ValidesAachive.etat}}</td>
                  <td>{{ValidesAachive.date|date("d/m/Y") }}</td>
                  <td> <a  href="{{path('gestionnaire_archive',{'id': ValidesAachive.acte.getId()})}}" ><img src="/img/acte/archive.png"/></a></td>
                </tr>
               {% endfor %}

               {% for RefusesAachive in RefusesAachives %}
                <tr>
                  <th scope="row" class="text-info">{{RefusesAachive.acte.numero}}</th>
                  <td>{{RefusesAachive.acte.getFkNature()}}</td>
                  <td>{{RefusesAachive.acte.getFkMatiere()}}</td>
                  <td>{{RefusesAachive.acte.objet}}</td>
                  <td>{{RefusesAachive.etat}}</td>
                  <td>{{RefusesAachive.date|date("d/m/Y") }}</td>
                  <td> <a  href="{{path('gestionnaire_archive',{'id': RefusesAachive.acte.getId()})}}" ><img src="/img/acte/archive.png"/></a></td>
                </tr>
               {% endfor %}

               {% for TransmisAachive in TransmisAachives %}
                <tr>
                  <th scope="row" class="text-info">{{TransmisAachive.acte.numero}}</th>
                  <td>{{TransmisAachive.acte.getFkNature()}}</td>
                  <td>{{TransmisAachive.acte.getFkMatiere()}}</td>
                  <td>{{TransmisAachive.acte.objet}}</td>
                  <td>{{TransmisAachive.etat}}</td>
                  <td>{{TransmisAachive.date|date("d/m/Y") }}</td>
                  <td> <a  href="{{path('gestionnaire_archive',{'id': TransmisAachive.acte.getId()})}}" ><img src="/img/acte/archive.png"/></a></td>
                </tr>
               {% endfor %}

               {% for AnnulesAachive  in AnnulesAachives %}
                <tr>
                  <th scope="row" class="text-info">{{AnnulesAachive.acte.numero}}</th>
                  <td>{{AnnulesAachive.acte.getFkNature()}}</td>
                  <td>{{AnnulesAachive.acte.getFkMatiere()}}</td>
                  <td>{{AnnulesAachive.acte.objet}}</td>
                  <td>{{AnnulesAachive.etat}}</td>
                  <td>{{AnnulesAachive.date|date("d/m/Y") }}</td>
                  <td> <a  href="{{path('gestionnaire_archive',{'id': AnnulesAachive.acte.getId()})}}" ><img src="/img/acte/archive.png"/></a></td>
                </tr>
               {% endfor %}
              </tbody>
            </table>
          
          </div>
        </div>
      
      </div>
  </div>
   {% if app.user %}
          {% if is_granted('ROLE_TRANSMETTEUR') %}
   <div class="row"> <a class="btn btn-primary btn-lg  ml-3 my-3 text-white "  id="btntransmettre" href="#tabtransmettre">Actes à transmettre </a> </div>
    <div class=" mx-3 d-none "  id="transmettre">
     
      <table class="table table-bordered  text-center my-3 " id="tabtransmettre">
              <thead>
                <tr>
                  <th scope="col">Numéro</th>
                  <th scope="col">Nature</th>
                  <th scope="col">Matière</th>
                  <th scope="col">Objet de l'acte</th>
                  <th scope="col">Dernière modification</th>
                  <th scope="col">Action</th>
    
                </tr>
              </thead>
              <tbody>
                {% for Atransmettre in Atransmettres %}
                <tr>
                  <th scope="row" class="text-info">{{Atransmettre.acte.numero}}</th>
                 
                  <td>{{Atransmettre.acte.getFkNature()}}</td>
                  <td>{{Atransmettre.acte.getFkMatiere()}}</td>
                  <td>{{Atransmettre.acte.objet}}</td>
                  <td>{{Atransmettre.date|date("d/m/Y") }}</td>
                  <td>
                        <a href="{{path('gestionnaire_transmission',{'id':Atransmettre.acte.getId()})}}"  class="btn btn-primary">Transmettre</a>
                        <a href="{{path('gestionnaire_annulation',{'id':Atransmettre.acte.getId()})}}"  class="btn btn-primary">Annuler</a>
                  </td>
                </tr>
                {% endfor %}
                
              </tbody>
      </table>
  </div>
  {% endif %}
  {% endif %}
  
    <div class="row"><a class="btn btn-primary btn-lg  ml-3 my-3 text-white"  id="btnhistorique" href="#tabhistorique">Historique des actions </a> </div>
    <div class=" mx-3 d-none "  id="historique">
     
      <table class="table table-bordered  text-center my-3 " id="tabhistorique">
              <thead>
                <tr>
                  <th scope="col">Numéro</th>
                  <th scope="col">Nature</th>
                  <th scope="col">Matière</th>
                  <th scope="col">Objet de l'acte</th>
                   <th scope="col">Dernière modification</th>
                  <th scope="col">Type</th>
    
                </tr>
              </thead>
              <tbody>
                {% for historique in historiques %}
                <tr>
                  <th scope="row" class="text-info">{{historique.acte.numero}}</th>
                  <td>{{historique.acte.getFkNature()}}</td>
                  <td>{{historique.acte.getFkMatiere()}}</td>
                  <td>{{historique.acte.objet}}</td>
                   <td>{{historique.date|date("d/m/Y") }} </td>
                  <td>{{historique.type}}</td>
                  
                </tr>
                {% endfor %}
               
              </tbody>
      </table>
  </div>
</div>
    
{% endblock %}
{% block scripts %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        {{parent()}}
      	{% import "MACROS/scripts.html.twig" as scripts %}
	      {{ scripts.datatable() }}


{% endblock %}

