{% extends "base.html.twig" %}

{# 

IMPORTANT !!! Les templates désirant avoir le nav doivent hériter de ce template !

Ce template hérite de la base et lui ajoute une barre de navigation :
 - les éléments à gauche : les actions principales sur les fichiers (consultation, ajout, recherche)
 - les éléments à droite : les actions administratives, informatives et la déconnexion
 
#}

{% block nav %}

	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      	<div class="collapse navbar-collapse">

      		{# GAUCHE du nav : liens avec pictogrammes vers les actions principales sur les fichiers #}

	        	<ul class="navbar-nav mr-auto">

		          	<li class="nav-item">
			            <a class="nav-link" href={{ path('consultation') }}>

					    	<img src="/img/nav/actes_en_cours.png" alt=""> Actes en cours

					    </a>
		          	</li>

		          	<li class="nav-item">
		            	<a class="nav-link" href={{ path('gestionnaire_ajout') }}>

							<img src="/img/nav/ajouter_un_acte.png" alt=""> Ajouter un acte

						</a>
		          	</li>

		          	<li class="nav-item">
		            	<a class="nav-link" href={{ path('recherche') }}>

							<img src="/img/nav/rechercher.png" alt=""> Rechercher

						</a>
		         	</li>

		        </ul>

	        {# DROITE du nav : dropdown administratif + dropdown documentation + bouton de déconnexion #}

		        <ul class="navbar-nav ml-auto">
		          
		          	{# Le dropdown d'admnistration #}
		          	<div class="dropdown">
						<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">

						Administration

						</button>
						<div class="dropdown-menu">

							<a class="dropdown-item" href={{ path('admin_dashboard') }}>
								Gérer les groupes et les utilisateurs
							</a>
							<a class="dropdown-item" href={{ path('admin_lister', {'entity': 'EtatActe'}) }}>
								Éditer les états d'acte
							</a>
							<a class="dropdown-item" href={{ path('admin_lister', {'entity': 'TypeAction'}) }}>
								Éditer les types d'action
							</a>
							<a class="dropdown-item" href={{ path('admin_lister', {'entity': 'NatureActe'}) }}>
								Éditer les natures d'acte
							</a>
							<a class="dropdown-item" href={{ path('admin_lister', {'entity': 'FamilleMatiere'}) }}>
								Éditer les familles de matières
							</a>
							<a class="dropdown-item" href={{ path('admin_lister', {'entity': 'Matiere'}) }}>
								Éditer les matières
							</a>
							<a class="dropdown-item" href={{ path('admin_lister', {'entity': 'Service'}) }}>
								Éditer les services
							</a>

						</div>
					</div>
					
					{# le dropdown d'accès à la documentation #}
					{#<div class="dropdown">
						<button class="btn btn-outline-primary dropdown-toggle text-center ml-2" type="button" data-toggle="dropdown">

						Documentation

						</button>
						<div class="dropdown-menu">

							<a class="dropdown-item" href="#">
								Truc
							</a>
							<a class="dropdown-item" href="#">
								Machin
							</a>

						</div>
					</div>#}

					{# Bouton de déconnexion #}
				   	<li class="nav-item">
						<a class="nav-link" href={{ path('security_logout') }}>

							Déconnexion

						</a>
					</li>

	        	</ul>

      	</div>
    </nav>
  
{% endblock %}

{% block scripts %}

	{% import "MACROS/scripts.html.twig" as scripts %}

	{{ scripts.dropdown() }}
	
	
{% endblock %}