{% extends "base+nav.html.twig" %}

{# 
    Ce template affiche le formulaire d'ajout d'un acte

    Le formulaire possède des champs obligatoires et des champs optionnels.
	N.B. : Ce formulaire sert également pour la modification d'un acte pour éviter la duplication de code
	(il y a peu de changements entre les 2 au niveau de l'affichage
	=> le champs "file" disparaît + les données doivent être préinitialisées)
	Les changements sont indiqués par des balises "{% if creation %}"
#}

{% block stylesheets %}

	{{ parent() }}
	<link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<link rel="stylesheet" type="text/css" href="/css/jquery.tagsinput-revisited.css">

{% endblock %}

{% block body %}
<div class="container">
	{% if creation %}
	<h2 class="text-center pt-3 pb-3">Ajouter un acte</h2>
	{% else %}
	<h2 class="text-center pt-3 pb-3">Modifier un acte</h2>
	{% endif %}

	{{ form_start(form) }}

	{# CHAMPS OBLIGATOIRES : (fichier à uploader -> si creation) + nature + objet + matière + dateDécision + numero + nomPDF #}
	<h5 class="pt-2 pb-2"><u>Champs obligatoires</u></h5>

		{# input file "file" #}
		{% if creation %}
		<div class="form-group row">
		    <label class="col-form-label col-sm-2 required" for="acte_file">Fichier *</label>
		    <div class="col-sm-4">
		        <input type="file" id="acte_file" name="acte[file]" required="required" class="form-control-file">
		    </div>
		</div>
		{% endif %}

		{{ form_row(form.fkNature, {'label': "Nature de l'acte *"}) }}

		{{ form_row(form.objet, {'label': "Objet *"}) }}

		{{ form_row(form.fkMatiere, {'label': "Matière de l'acte *"}) }}

		{# "dateDecision" #}
		<div class="form-group row">
			<label class="col-form-label col-sm-2 required" for="acte_dateDecision">Date de décision *</label>
			<div class="col-sm-2">
				<input type="text" id="acte_dateDecision" name="acte[dateDecision]" required="required" placeholder="jj/mm/aaaa" class="datepicker form-control" />
			</div>
	    </div>

		{{ form_row(form.numero, {'label': "Numéro *"}) }}

		{{ form_row(form.nomPDF, {'label': "Nom du pdf sur le disque *"}) }}

	{# CHAMPS OPTIONNELS : pieceJointes, service, motcles, dateEffectiviteDebut, dateEffectiviteFin, description #}
	<h5 class="pt-4 pb-2"><u>Champs optionnels</u></h5>

		{# inputs file + textfield "annexes" #}
		<div class="form-group row">
		    <label class="col-form-label col-sm-2" for="acte_objetAnnexe1">Annexe 1</label>
		    <div class="col-sm-5">
		    	<input type="text" id="acte_objetAnnexe1" name="acte[objetAnnexe1]" class="form-control" placeholder="Veuillez compléter l'objet" value="{{ form.objetAnnexe1.vars.value }}"/>
		    </div>
		    <div class="col-sm-4">
		    	{% if form.objetAnnexe1.vars.data == "" %}
		        <input type="file" id="acte_annexe1" name="acte[annexe1]" class="form-control-file">
		    	{% else %}
		    	<a href="../../{{ pdf_relative_directory ~ pieceJointeChemins[0] }}" target="_blank"><img src="/img/nav/rechercher.png" alt="">voir l'annexe</a>
		    	<a href="" onclick="supprimer(this)"><img src="/img/acte/supprimer.png" alt="">supprimer l'annexe</a>
		    	{% endif %}
		    </div>
		</div>

		<div class="form-group row">
		    <label class="col-form-label col-sm-2" for="acte_objetAnnexe2">Annexe 2</label>
		    <div class="col-sm-5">
		    	<input type="text" id="acte_objetAnnexe2" name="acte[objetAnnexe2]" class="form-control" placeholder="Veuillez compléter l'objet" value="{{ form.objetAnnexe2.vars.value }}"/>
		    </div>
		    <div class="col-sm-4">
		        {% if form.objetAnnexe2.vars.data == "" %}
		        <input type="file" id="acte_annexe2" name="acte[annexe2]" class="form-control-file">
		    	{% else %}
		    	<a href="../../{{ pdf_relative_directory ~ pieceJointeChemins[1] }}" target="_blank"><img src="/img/nav/rechercher.png" alt="">voir l'annexe</a>
		    	<a href=""><img src="/img/acte/supprimer.png" alt="">supprimer l'annexe</a>
		    	{% endif %}
		    </div>
		</div>

		<div class="form-group row">
		    <label class="col-form-label col-sm-2" for="acte_objetAnnexe3">Annexe 3</label>
		    <div class="col-sm-5">
		    	<input type="text" id="acte_objetAnnexe3" name="acte[objetAnnexe3]" class="form-control" placeholder="Veuillez compléter l'objet" value="{{ form.objetAnnexe3.vars.value }}"/>
		    </div>
		    <div class="col-sm-4">
		        {% if form.objetAnnexe3.vars.data == "" %}
		        <input type="file" id="acte_annexe3" name="acte[annexe3]" class="form-control-file">
		    	{% else %}
		    	<a href="../../{{ pdf_relative_directory ~ pieceJointeChemins[2] }}" target="_blank"><img src="/img/nav/rechercher.png" alt="">voir l'annexe</a>
		    	<a href=""><img src="/img/acte/supprimer.png" alt="">supprimer l'annexe</a>
		    	{% endif %}
		    </div>
		</div>

		{{ form_row(form.fkService, {'label': "Service"}) }}

		{# "motcles" + "dateEffectiviteDebut" + "dateEffectiviteFin" #}
		<div class="form-group row">
			<label class="col-form-label col-sm-2" for="acte_motcles">Mot-clés</label>
			<div class="col-sm-10">
				<input name="acte[motcles]" id="tags" class="tagsinput">
	    	</div>
	    </div>

		<div class="form-group row">
			<label class="col-form-label col-sm-2" for="acte_dateEffectiviteDebut">Date de début d'effectivité</label>
			<div class="col-sm-2">
				<input type="text" id="acte_dateEffectiviteDebut" name="acte[dateEffectiviteDebut]" placeholder="jj/mm/aaaa" class="datepicker form-control" />
			</div>
		</div>

		<div class="form-group row">
			<label class="col-form-label col-sm-2" for="acte_dateEffectiviteFin">Date de fin d'effectivité</label>
			<div class="col-sm-2">
				<input type="text" id="acte_dateEffectiviteFin" name="acte[dateEffectiviteFin]" placeholder="jj/mm/aaaa" class="datepicker form-control" />
			</div>
		</div>

		{{ form_row(form.description, {'label': "Description"}) }}

	{# Boutons de submit #}
	<div class="text-center">

		{% if creation %}

		<button class="btn btn-success btn-lg col-md-3 ml-2 mr-2" type="submit" name="brouillon">Enregistrer comme brouillon</button>
		<button class="btn btn-success btn-lg col-md-3 ml-2 mr-2" type="submit">Ajouter Acte</button>

		{% else %}

		<button class="btn btn-success btn-lg col-md-3" type="submit">Modifier Acte</button>

		{% endif %}

	</div>
	
	{# Permet à Symfony de savoir qu'on s'est occupé nous-même de l'affichage de certains champs #}
	{% if creation %}
		{% do form.file.setRendered %}
	{% endif %}
	{% do form.annexe1.setRendered %}
	{% do form.objetAnnexe1.setRendered %}
	{% do form.annexe2.setRendered %}
	{% do form.objetAnnexe2.setRendered %}
	{% do form.annexe3.setRendered %}
	{% do form.objetAnnexe3.setRendered %}
	{% do form.dateDecision.setRendered %}
	{% do form.motcles.setRendered %}
	{% do form.dateEffectiviteDebut.setRendered %}
	{% do form.dateEffectiviteFin.setRendered %}

	{{ form_end(form) }}

{% endblock %}

{% block scripts %}

	{{ parent() }}
	
	{% import "MACROS/scripts.html.twig" as scripts %}

	{{ scripts.datepicker() }}
  	{% if not creation %} {# Si acte en modification => initialise les datepickers #}
	<script>
  		$( function() {
			$('#acte_dateDecision').datepicker('setDate',"{{ form.dateDecision.vars.value }}");
			$('#acte_dateEffectiviteDebut').datepicker('setDate',"{{ form.dateEffectiviteDebut.vars.value }}");
			$('#acte_dateEffectiviteFin').datepicker('setDate',"{{ form.dateEffectiviteFin.vars.value }}");
  		} );
  	</script>
  	{% endif %}

	{{ scripts.tagsinput() }}
	{% if not creation %} {# Si acte en modification => initialise les motcles #}
	<script>
  		$( function() {
			$('#tags').importTags("{{ motcles }}");
  		} );
  	</script>
  	{% endif %}

  	<script>
  		function supprimer(this) {
  			this.value = "";
  			alert(this);
  		}	
  	</script>
</div>
{% endblock %}